$black: #1f2937;
$white-text: #f9faf8;
$greyish: #e5e7eb;
$blue: #3882f6;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  transition-duration: 0.2s;
  padding: 0.5em;
  width: 6rem;
  border: none;
  text-decoration: none;
  border-radius: 0.75rem;
  color: $greyish;
  font-weight: bold;
  background: rgb(40, 130, 232);
}

button:hover {
  background-color: #72a2ef;
  cursor: pointer;
  color: #1a2432;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.hero {
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-wrapper {
  width: 50%;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.logo {
  color: $white-text;
  font-size: 1.5rem;
}

.hero-links {
  display: flex;
  gap: 2rem;
  color: $white-text;
  list-style-type: none;
  font-size: 1.125rem;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 4rem;
}

.hero-info {
  display: flex;
  flex-flow: column;
}

.hero-main-text {
  font-size: 3rem;
  color: $white-text;
  font-weight: bold;
}

.hero-text {
  color: $greyish;
  font-size: 18px;
  width: 25rem;
}

.hero-button {
  align-self: flex-start;
  margin-top: 1rem;
}

.hero-img {
  width: 20rem;
  height: auto;
}

.info-section {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 3rem auto;
  align-items: center;
  gap: 1.875rem;
}

.info-header {
  color: $black;
  font-size: 2.25rem;
  font-weight: bolder;
}

.info-article {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.info {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.25rem;
  flex: 0;
}

.info-img {
  border: solid 0.2rem $blue;
  border-radius: 1.25rem;
  height: 170px;
  width: 170px;
}

.info-text {
  text-align: center;
}
